
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .card-header {
        display: flex;
        align-items: center;
        border-bottom-width: 1px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: .625rem;
        height: 2.5rem;
    }

    .Box-Boarder-Style {
        border: 1px solid;
        border-bottom: 3px solid;
    }

    #music {
        position: relative;
    }

    .hyperspan {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .BoxColor1 {
        border-color: #3ac47d;
        color: #3ac47d;
    }

    .BoxColor2 {
        border-color: #3f6ad8;
        color: #3f6ad8;
    }

    .BoxColor3 {
        border-color: #f7b924;
        color: #f7b924;
    }

    .BoxColor4 {
        border-color: #d92550;
        color: #d92550;
    }

    .BoxColor5 {
        border-color: #16aaff;
        color: #16aaff;
    }

    .BoxColor6 {
        border-color: #f3bde8;
        color: #f3bde8;
    }

    .BoxColor7 {
        border-color: #95c83d;
        color: #95c83d;
    }

    .BoxColor8 {
        border-color: #194175;
        color: #194175;
    }

    .ShadowForBox {
        /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    }

    .widget-subheading {
        font-size: 20px;
    }
</style>
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">

                <div>
                    Shadi Mubarak Dashboard
                    <div class="page-title-subheading">
                        A Dashboard for management of Shadi Mubarak Application.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tabs-animation">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
                    Stage I - Prospecting
                </div>
                <div class="btn-actions-pane-right text-capitalize actions-icon-btn">
                    <button type="button" data-toggle="collapse" href="#StageI" class="btn btn-primary collapsed float-right" aria-expanded="false"><span class="pe-7s-menu btn-icon-wrapper" style="font-size: 24px;"></span></button>
                </div>
            </div>
            <div class="no-gutters row collapse show" id="StageI" style="">
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("MeetingList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-10 bg-warning"></div>

                                <i class="lnr-laptop-phone text-dark opacity-8"></i>

                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">Meetings</div>
                            @if (ViewBag.TotalMeetings != null)
                            {
                                <div class="widget-numbers text-warning">@ViewBag.TotalMeetings</div>
                            }
                            @*<div class="widget-description opacity-8 text-focus">
                            <div class="d-inline text-danger pr-1">
                                <i class="fa fa-angle-down"></i>
                                <span class="pl-1">54.1%</span>
                            </div>
                            less earnings
                        </div>*@
                        </div>
                    </div>
                    <div class="divider m-0 d-md-none d-sm-block"></div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("RFQList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
                                <i class="lnr-graduation-hat text-white"></i>
                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">RFQ's</div>
                            @if (ViewBag.TotalRFQ != null)
                            {
                                <div class="widget-numbers text-danger"><span>@ViewBag.TotalRFQ</span></div>

                            }
                        </div>
                    </div>
                    <div class="divider m-0 d-md-none d-sm-block"></div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("ApprovedBDBudgetList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-success"></div>
                                <i class="lnr-apartment text-white"></i>
                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">BD Budgets</div>
                            @if (ViewBag.ApprovedBDBudgets != null)
                            {
                                <div class="widget-numbers text-success"><span>@ViewBag.ApprovedBDBudgets</span></div>
                            }
                            <div class="widget-description opacity-8 text-focus">
                                <div class="badge badge-success ml-2">Approved</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("PendingBDBudgetList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-primary"></div>
                                <i class="lnr-apartment text-white"></i>
                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">BD Budgets</div>
                            @if (ViewBag.PendingBDBudgets != null)
                            {
                                <div class="widget-numbers text-primary"><span>@ViewBag.PendingBDBudgets</span></div>
                            }
                            <div class="widget-description opacity-8 text-focus">
                                <div class="badge badge-info ml-2">Pending</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("ClaimBudgetsList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-info"></div>
                                <i class="lnr-apartment text-white"></i>
                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">Meeting Claims</div>
                            @if (ViewBag.ClaimBDBudgets != null)
                            {
                                <div class="widget-numbers text-info"><span>@ViewBag.ClaimBDBudgets</span></div>
                            }
                            <div class="widget-description opacity-8 text-focus">
                                <div class="badge badge-primary ml-2">Approved</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-xl-4">
                    <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                        <a id="hr-module-employee-anchor" target="_blank" href="@Url.Action("ClaimBDBudgetPendingList", "Dashboard")">
                            <div class="icon-wrapper rounded-circle">
                                <div class="icon-wrapper-bg opacity-9 bg-primary"></div>
                                <i class="lnr-apartment text-white"></i>
                            </div>
                        </a>
                        <div class="widget-chart-content">
                            <div class="widget-subheading">Meeting Claims</div>
                            @if (ViewBag.ClaimBDBudgetsPending != null)
                            {
                                <div class="widget-numbers text-primary"><span>@ViewBag.ClaimBDBudgetsPending</span></div>
                            }
                            <div class="widget-description opacity-8 text-focus">
                                <div class="badge badge-info ml-2">Pending</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding-left: 28px;" class="card-header-title font-size-lg">
                <strong>Total Revenue Amount (Departments) :</strong>
            </div>
            <div class="row" style="padding:30px;">
                <div id="music" class="col-lg-6 col-xl-3 ">
                    <div class="card mb-3 widget-content Box-Boarder-Style BoxColor1 ShadowForBox">
                        <div class="widget-content-wrapper text-black-50">
                            <div class="widget-content-left">
                                <div class="widget-heading">OA</div>
                                <div class="widget-subheading">Revenue</div>
                            </div>
                            <div class="widget-content-right">
                                @if (ViewBag.OAreceivalbeAmount != null)
                                {
                                    <div class="widget-numbers BoxColor1"><span>@ViewBag.OAreceivalbeAmount</span></div>
                                }
                            </div>
                            <a href="@Url.Action("Index", "OrderPlanning",new { Status = "Draft"})">
                                <span class="hyperspan"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="music" class="col-lg-6 col-xl-3">
                    <div class="card mb-3 widget-content Box-Boarder-Style BoxColor2 ShadowForBox">
                        <div class="widget-content-wrapper text-black-50">
                            <div class="widget-content-left">
                                <div class="widget-heading">NDT</div>
                                <div class="widget-subheading">Revenue</div>
                            </div>
                            <div class="widget-content-right">
                                @if (ViewBag.NDTreceivalbeAmount != null)
                                {
                                    <div class="widget-numbers BoxColor2"><span>@ViewBag.NDTreceivalbeAmount</span></div>
                                }
                            </div>
                            <a href="@Url.Action("Index", "OrderPlanning",new { Status = "Confirmed"})">
                                <span class="hyperspan"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="music" class="col-lg-6 col-xl-3">
                    <div class="card mb-3 widget-content Box-Boarder-Style BoxColor3 ShadowForBox">
                        <div class="widget-content-wrapper text-black-50">
                            <div class="widget-content-left">
                                <div class="widget-heading">RBI</div>
                                <div class="widget-subheading">Revenue</div>
                            </div>
                            <div class="widget-content-right">
                                @if (ViewBag.RBIreceivalbeAmount != null)
                                {
                                    <div class="widget-numbers BoxColor3"><span>@ViewBag.RBIreceivalbeAmount</span></div>
                                }
                            </div>
                            <a href="@Url.Action("Index", "OrderPlanning",new { Status = "Assigned"})">
                                <span class="hyperspan"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="music" class="col-lg-6 col-xl-3">
                    <div class="card mb-3 widget-content Box-Boarder-Style BoxColor4 ShadowForBox">
                        <div class="widget-content-wrapper text-black-50">
                            <div class="widget-content-left">
                                <div class="widget-heading">AO</div>
                                <div class="widget-subheading">Revenue</div>
                            </div>
                            <div class="widget-content-right">
                                @if (ViewBag.AOreceivalbeAmount != null)
                                {
                                    <div class="widget-numbers BoxColor4"><span>@ViewBag.AOreceivalbeAmount</span></div>
                                }
                            </div>
                            <a href="@Url.Action("Index", "OrderPlanning",new { Status = "Issued"})">
                                <span class="hyperspan"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
